<h1>Welcome To The Thunderdome</h1>

<form action="/login" method="LOGIN">
	<input type="text" name="username" placeholder="enter a username"/>
	<input type="text" name="username" placeholder="enter a password"/>
	<input type="submit" value="submit"/>
</form>

{{#each usernameArray}}
	{{this}}<br>
{{/each}}